.u-complete-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.u-margin-top-big {
  margin-top: 7.8rem !important;
}

.u-margin-top-medium {
  margin-top: 3.7rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-bottom-mlarge {
  margin-bottom: 5rem;
}

.u-margin-bottom-xsmall {
  margin-bottom: 2.628rem;
}
