// FONT

$default-font-size: 1.6rem;

// COLORS

$color-primary: #0074d9;

$color-secondary: #a8daff;
$color-secondary-lighter: #c0e3fd;
$color-secondary-lightest: #d7edfd;

$color-success: #71f79f;

$color-error: #d96500;

$color-black: #000;

$color-typeface: #333333;

$color-white: #f9f9f9;
$color-pure-white: #ffffff;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-4: #bdbdbd;
$color-gray-light-5: #828282;

$color-gray-dark-2: #999;
$color-gray-dark-1: #777;
$color-gray-dark-3: #333;
