<div class="find-policy-form">
  <h4 class="heading-quaternary">
    <img alt="Umbrella logo" class="umbrella-img umbrella-small-icon">
    Umbrella Hub
  </h4>


  <form [formGroup]="insuranceSearchForm">
    <div class="stepper">

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="1"
        [question]="'What type of insurance are you looking for?'" [isShowOkButton]="false">
        <app-button-toggle [toggleOptions]="insuranceTypeOptions" (selectedOption)="setInsuranceType($event)"
          [selectedOptionTitle]="insuranceSearchForm.controls.insuranceType.value">
        </app-button-toggle>
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="2"
        [question]="'What\’s the name of your business?'"
        [isOkButtonDisabled]="!insuranceSearchForm.controls.businessName.valid" (okClicked)="goToNextStep()">
        <input #autofocus type="text" class="text-input" placeholder="Name of your business" required
          [formControl]="insuranceSearchForm.controls.businessName">
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="3"
        [question]="'What\’s the phone number?'" [isOkButtonDisabled]="!insuranceSearchForm.controls.phoneNumber.valid"
        (okClicked)="goToNextStep()">
        <input #autofocus type="tel" class="text-input" placeholder="Phone Number" required
          [formControl]="insuranceSearchForm.controls.phoneNumber">
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="4"
        [question]="'What state do you operate from?'" [isOkButtonDisabled]="!insuranceSearchForm.controls.state.valid"
        (okClicked)="goToNextStep()">
        <select #autofocus name="states" id="states" class="stepper__select select-input" required
          [formControl]="insuranceSearchForm.controls.state">
          <option value=""></option>
          <option *ngFor="let state of usStateList" [value]="state.name"> {{state.name}} </option>
        </select>
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="5"
        [question]="'Do you do your own design?'" [isShowOkButton]="false">
        <app-button-toggle [toggleOptions]="designOwnershipOptions" (selectedOption)="selectedOwnershipOption($event)"
          [selectedOptionTitle]="insuranceSearchForm.controls.designOwnership.value">
        </app-button-toggle>
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="6"
        [question]="'Include building coverage?'" [isShowOkButton]="false">
        <app-button-toggle [toggleOptions]="coverageOptions" (selectedOption)="selectedIncludeBusinessCoverage($event)"
          [selectedOptionTitle]="insuranceSearchForm.controls.includeBuildingCoverage.value">
        </app-button-toggle>
      </app-step>

      <app-step [currentStep]="currentStepNumber" class="stepper__step" [stepNumber]="7"
        [question]="'When did your business begin?'"
        [isOkButtonDisabled]="!insuranceSearchForm.controls.businessStartDate.valid">
        <input #autofocus type="date" class="date-input" placeholder="mm/dd/yyy" required
          [formControl]="insuranceSearchForm.controls.businessStartDate">
      </app-step>

      <button *ngIf="currentStepNumber === 7"
        class="btn btn--cta btn--green u-margin-top-big u-margin-bottom-large find-policy-form__get-quotes-btn"
        [disabled]="!insuranceSearchForm.valid" (click)="getQuotes()">Get
        Quotes</button>

    </div>

  </form>

  <div class="stepper__step-controller">
    <span class="stepper__step-controller__step-count"> {{currentStepNumber}}/7 </span>

    <div class="stepper__step-buttons">
      <button class="btn btn--chevron stepper__btn-step" [disabled]="currentStepNumber<=1" (click)="goToPreviousStep()">
        <img src="../../../../assets/img/chevron-up.svg" alt="Up icon" class="chevron-up">
      </button>

      <button class="btn btn--chevron stepper__btn-step" [disabled]="currentStepNumber >= 7" (click)="goToNextStep()">
        <img src=" ../../../../assets/img/chevron-up.svg" alt="Down icon" class="chevron-down">
      </button>
    </div>

  </div>


</div>
