@import "../../../sass/base/typography";
@import "../../../sass/abstracts/variables";
@import "../../../sass/base/utilities";

.find-policy {
  &__intro {
    text-align: center;
  }

  .umbrella-logo {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    position: relative;
    display: inline-block;

    &--blue {
      background-color: $color-secondary;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    }
  }

  .umbrella-img {
    width: 5.5rem;
    height: 6rem;
  }

  &__intro-steps {
    text-align: center;
  }

  .numbered-list {
    display: inline-block;
    text-align: left;
    list-style: none;

    &__step {
      font-size: 1.8rem;
      max-width: 51rem;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 2.9rem;
      }

      &__content {
        font-weight: 400;
        line-height: 2.19rem;
      }

      &__number {
        width: 3.6rem;
        height: 3.6rem;
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 50%;

        font-weight: 700;
        line-height: 2.109rem;
        display: inline-block;
        text-align: center;
        padding-top: 0.8rem;
        margin-right: 2.1rem;
      }
    }
  }
}
