@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba($color: $color-black, $alpha: 0.65);
  z-index: 5000;
  transition: all 0.3s;

  opacity: 1;
  visibility: visible;

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 1.3rem;
      right: 1.4rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      z-index: 5100;

      img {
        width: 1.9rem;
        height: 1.9rem;
      }
    }
    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absoluteCenter;
    //padding: 2.5rem 2.4rem;
    width: 75%;
    max-width: 69rem;
    min-height: 20rem;
    max-height: 80vh;
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);
    transition: all 0.4s 0.2s;
  }

  &__heading {
    position: relative;
  }

  &__body {
  }
}
