<div class="find-policy__intro" header>
  <div class="umbrella-logo umbrella-logo--blue u-margin-top-big ">
    <img alt="Umbrella logo" class="umbrella-img u-complete-center">
  </div>

  <h1 class="heading-primary u-margin-top-medium u-margin-bottom-large">
    So what gives?
  </h1>

  <div class="find-policy__intro-steps">
    <ul class="numbered-list u-margin-bottom-large">
      <li class="numbered-list__step">
        <div class="numbered-list__step__number round-number ">1</div> <span class="numbered-list__step__content">
          Answer a few simple questions
          about
          your business
        </span>
      </li>

      <li class="numbered-list__step">
        <div class="numbered-list__step__number round-number">2</div>
        <span class="numbered-list__step__content"> Browse through specially curated
          quotes </span>
      </li>

      <li class="numbered-list__step">
        <div class="numbered-list__step__number round-number ">3</div>
        <span class="numbered-list__step__content"> Select your quote-of-choice and
          receive your policy instantly </span>
      </li>
    </ul>

    <button class="btn btn--cta btn--green u-margin-bottom-xsmall" (click)="introAccepted.emit(true)">Get
      Started</button>

    <div class="powered-by u-margin-bottom-mlarge">
      <img src="../../../assets/img/zap.svg" alt="Zap logo" class="powered-by__icon">
      Powered by Briza
    </div>
  </div>

</div>
